@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  margin: 0;
  background-color: #d1cdb7;
  -webkit-background-size: 0.3rem 0.3rem;
  -moz-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
  background-image: -webkit-linear-gradient(
      left,
      #ccc8b1 1px,
      rgba(204, 200, 177, 0) 1px
    ),
    -webkit-linear-gradient(top, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
  background-image: -moz-linear-gradient(
      left,
      #ccc8b1 1px,
      rgba(204, 200, 177, 0) 1px
    ),
    -moz-linear-gradient(top, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
  background-image: -o-linear-gradient(
      left,
      #ccc8b1 1px,
      rgba(204, 200, 177, 0) 1px
    ),
    -o-linear-gradient(top, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
  background-image: -ms-linear-gradient(
      left,
      #ccc8b1 1px,
      rgba(204, 200, 177, 0) 1px
    ),
    -ms-linear-gradient(top, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
  background-image: linear-gradient(
      to right,
      #ccc8b1 1px,
      rgba(204, 200, 177, 0) 1px
    ),
    linear-gradient(to bottom, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
  font-family: helvetica, sans-serif;
  letter-spacing: 0.03rem;
  font-weight: lighter;
  color: #454138;
}

:root {
  background-color: rgb(168, 164, 136);
  font-family: "Open Sans", sans-serif;
}

#app {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 50px auto auto auto;
  grid-template-areas:
    "...  nav nav nav nav nav nav nav nav ..."
    "...  main main main main main main main main ..."
    "...  main main main main main main main main ..."
    "...  main main main main main main main main ...";
}

h1 {
  grid-area: main;
  text-align: center;
  font-size: 3em;
  color: rgb(75, 72, 64);
}
